.top {
    font-size: 10px;
    font-family: Arial;
    display: flex;
    justify-content: center;
}

@media (min-width:850px) {
    .top {
        font-size: 20px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    margin-bottom: 10px;
    font-family: Arial;
}

.price {
    font-family: Arial;
}

.shoppingcart {
    font-family: Arial;
    display: inline-block;
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px; /* Rounded corners */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
